a {
  color: white;
  text-decoration: none
}

.column {
    width: 5rem;
    height: 5rem;
}

.header {
  background: #000;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {  
  padding: 0;
  margin-top: 90%;
  display: flex;
  justify-content: center;
}

.header li {
  display: inline-block;
  margin-right: 2rem;
  color: white;
}

.row {
  text-align: center;
}

@media (max-width: 577px) {
  .header ul {
    margin-left: 1.7rem;
  }
}
