  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>ShowMe</h3>
          <ul>
            <li>Careers</li>
            <li>Terms</li>
            <li>Help</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>More ShowMe</h3>
          <ul>
            <li>Gift Cards</li>
            <li>Trailers</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>News</h3>
          <ul>
            <li>Blog</li>
            <li>X</li>
            <li>YouTube</li>
            <li>Facebook</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
