.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-3, .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.series_img img {
  display: block;  
  max-width: 100%;
  height: auto;
}

.series {
  font-size: 2em;
  color: #333;
  text-align: center; /* Center the titles */
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #e3e4e6; 
  border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-img {
  position: relative;
  display: block;
  background-color: #e3e4e6; 
  border: 1px solid rgba(0,0,0,.125);
}

.list-group-item span {
    color:#6c757d; 
    padding-right:10px;
}

#picBox img:hover {
  cursor: pointer;
}
