<div class="row">
  <div class="col-md-3 series_img">
    <!-- <img [src]="show.series_img" -->
  </div>
</div>

<div class="col-md-6">
  <h1 class="series">{{show.series}}</h1>
  <p class="description">{{show.description}}</p>
</div>

<div class="col-md-3">
  <ul class="list-group">    
    <li class="list-group-item">
      <span>Number of seasons:</span>{{show.number_of_seasons}}
    </li>    
    <li class="list-group-item"><span>Genre:</span>{{show.genre}}</li>
    <li class="list-group-item"><span>Watch it on:</span>{{show.platform}}</li>
  </ul>
</div>
