<div class="row">
  <div id="picBox" class="col-md-3 series_img">
    <img (click)="more(show.id)" [src]="show.series_img">
  </div>

  <div class="col-md-3">
    <ul class="list-group">    
      <li class="list-group-item">
        <span>Number of seasons:</span>{{show.number_of_seasons}}
      </li>    
      <li class="list-group-item"><span>Genre:</span>{{show.genre}}</li>
      <li *ngIf="show.platform == 'Netflix'" class="list-group-item-img"><a href="https://www.netflix.com/browse]"><img class="img-fluid" src="https://i.pcmag.com/imagery/reviews/05cItXL96l4LE9n02WfDR0h-5.fit_scale.size_760x427.v1582751026.png"></a></li>
      <li *ngIf="show.platform == 'Prime'" class="list-group-item-img"><a href="https://www.amazon.co.uk/gp/video/primesignup"><img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Amazon_Prime_Video_logo.svg/2560px-Amazon_Prime_Video_logo.svg.png"></a></li>
      <li *ngIf="show.platform == 'Disney Plus'" class="list-group-item-img"><a href="https://www.disneyplus.com/"><img class="img-fluid" src="https://lumiere-a.akamaihd.net/v1/images/disney_logo_nov_2021_rbg_0fa74b54.jpeg"></a></li>
    </ul>
  </div>
</div>
