<div class="container">
  <form class="search-bar">
    <input type="text" #filter (input)="filterResults(filter.value)" placeholder="search">
  </form>
  <div class="btn-group container" role="group" aria-label="Basic radio toggle button group">
    <input (click)="radioReset()" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline" for="btnradio1">All</label>
  
    <input (click)="radioFilterN()" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline" for="btnradio2">Netflix</label>
  
    <input (click)="radioFilterP()" type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline" for="btnradio3">Prime Video</label>

    <input (click)="radioFilterD()" type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
    <label class="btn btn-outline" for="btnradio4">Disney Plus</label>
  </div>
  <div class="container -sm">
    <p id="searchResultsFor" *ngIf="filter.value !== ''">Search results for '{{ filter.value }}'</p>
  </div>
  <section class="results">
    <app-show *ngFor="let show of filteredShowsList" [show]="show"></app-show>
    <router-outlet></router-outlet>
  </section>
</div>
