input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

.search-bar {
    width: 100%;
    padding: .75rem;
    margin-bottom: .75rem;
    text-align: center;
}

#searchResultsFor {
  padding-top: 2rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 577px) {
  .btn-group {
    flex-direction: column;
  }
  .btn-check {
    margin-bottom: 10px;
  }
  input[type="text"] {
      width: 100%;
  }
}   

@media (min-width: 577px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 90%;
  }   

}
@media (min-width: 769px) {
  .results {
      grid-template-columns: repeat(3, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}