<body>
  <div class="header">
    <div class="container">
      <img src="img/logo.svg" width="180" height="34" />
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="content">
        <app-show-listing listing="show"></app-show-listing>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Bolt</h3>
          <ul>
            <li>Careers</li>
            <li>Terms</li>
            <li>Help</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>More Bolt</h3>
          <ul>
            <li>Gift Cards</li>
            <li>Trailers</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>News</h3>
          <ul>
            <li>Blog</li>
            <li>Twitter</li>
            <li>YouTube</li>
            <li>Google+</li>
            <li>Facebook</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
