<!-- TO-DO: 
  - / get rid of title after each pic 
  - separate the following into compnenets and add tag to...
        - / header (app)
        - / footer (app)
        - / home component, including 'get started' (app) [make - PDF]
        * 'more' component (list) [make, featuring BACK option - PDF]
        ** break points

  - / search functionality (YT/SB)
  - / header links - home, search
  - / route: home, get started, listing, more (YT/SB)
  
  -FInal details:
   ** - extend film library
   ** images for each film
    - //! links to streaming provider? - is there a way to make the image appear as part of a function (*ngIf="addPic(show)")       
   - streaming platform images resize
    -- /attach image to other rows - take out text thing?
    -- /move 'results for' line down
    - /header logo - add to assets
    - /footer: change social media text/logos

  -->

  <body>
    <app-header>
    </app-header>
    <div class="main">
      <div class="container">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer>
    </app-footer>
  </body>
  